body .nav-tabs {
  position: unset;
  width: unset;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-content > .active {
  display: block;
}

.nav-tabs-container {
  margin: 5px 5px 0 5px;
  background-color: #fff;
  padding: 0 20px;
}

.nav-tabs {
  color: #0f0f0f;
  display: flex;
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs > li {
  color: #0f0f0f;
  float: left;
  text-align: center;
}

.nav-tabs > li > a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}

.nav-tabs > li.active {
  margin-bottom: -1px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid;
  border-color: #dee2e6 #dee2e6 #fff;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
  line-height: 1;
}

.code-tabs {
  margin: 10px 0 0 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  color: #000 !important;
  background: transparent;
}

/* always open menu */
article > aside .menu .alwaysopen {
  padding-left: 0 !important;
}

article > aside .menu .alwaysopen > ul {
  display: block !important;
}

article > aside .menu .alwaysopen > ul > li {
  border-left: none !important;
  padding-left: 0 !important;
}

article > aside .menu .alwaysopen > div {
  display: none !important;
}

header {
  background-color: #0f0f1a;
  margin-bottom: 0;
}

header::after {
  content: none;
}

.stegos-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stegos-header-wrapper .searchbox {
  padding: 0;
}
.stegos-header-wrapper .searchbox > input {
  margin: 0;
}

.stegos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stegos-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  overflow-wrap: break-word;
}
